@import "@angular/material/_theming.scss";
@include mat-core();

::ng-deep .mat-input-element {
    font-size: 64px !important;
    font-weight: 50;
    height: 80px !important;

    color: gray !important;
    font-weight: 50 !important;
}
