  <mat-sidenav-container class="sidenav-container">
    
    <mat-sidenav mode="side" style="height: 100%">

      <mat-nav-list role="list">
        <mat-list-item role="listitem" (click)="goTo('weather')">
          <mat-icon> wb_sunny </mat-icon>
            Weather
        </mat-list-item>

        <mat-list-item role="listitem" (click)="goTo('')">
          <mat-icon>
            block
          </mat-icon>
            Item 2
        </mat-list-item>
        
        <mat-list-item role="listitem" (click)="goTo('')">
          <mat-icon>
            block
          </mat-icon>
            Item 3
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
    
    <mat-sidenav-content>

      <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
        <h3 class="toolbar-text">Miscelaneous</h3>    
      </mat-toolbar>
      <mat-progress-bar style="position: absolute" mode="indeterminate" *ngIf="loader.loading()"></mat-progress-bar>

      <div class="container fit-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  
  </mat-sidenav-container>
