.photo {
    height: 200px;
    width: 200px;
    margin: 36px auto 0 auto;
    
    border-radius: 50%;

    background-image: url('../../assets/img/vini.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}